@media (max-width: 1000px) {
  .main-div {
    flex-direction: column-reverse !important; /* Stack elements on mobile */
    align-items: center !important; /* Center items when stacked */
  }
  .main-div {
    width: 100vw !important;
    height: auto !important;
    padding-bottom: 24px !important;
  }
  
  .thread-logo {
    display: none;
  }
  .nav-class {
    width: 100vw !important;
    height: 8vh;
    flex-direction: row; /* Horizontal layout */
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    top: unset;
    z-index: 9999;
  }
  .nav-logo svg{

    width: 30px !important;
  }
  /* .nav-links {
    width: 100vw;
    flex-direction: row !important;
    justify-content: space-evenly;
    
    height: 5vh !important;
    gap: 0px !important;
    position: fixed;

    border-top: 2px solid;
    border-radius: 14px;
  } */
  .nav-links {
    flex-direction: row !important;
    width: 100%;
    justify-content: space-around;
    padding-left:7px !important ;
    padding-right:7px !important;
  
  }

  .nav-class {
    height: 0vh !important;
    width: 100vw !important;
    justify-content: center !important;
    height: 5vh !important;
}
  .top-nav {
    width: 100vw !important;
    height: 60px !important;
    position: fixed;
  }
  .nav-inbox {
    margin-bottom: 0 !important;
  }
  .home-responsive {
    width: 100vw !important;
    height: calc(90vh - 60px) !important;
    margin-top: 60px;

  }
  /* .main-post-res{

    height: calc(90vh - 60px) !important;
    margin-top: 60px;


  } */
  .nav-link-res {
    margin-bottom: 0px !important;
    height: 5vh;
    /* border: 1px solid #6b6464; */
    border-radius: 7px;
  }
  .hamburger-nav {
    position: fixed;
    top: 0;
    right: 4px;
  }
  .logout-section {
    position: fixed;
    top: 32px;
    /* right: 3px; */
    left: 195px;
    width: 139px;
    height: 57px;
    font-size: 10px;
    
  }
  .Appearance-section {
    position: fixed;
    top: 37px;
    /* right: 44px; */
    left: 244px;


  }

  .post-slide {
    width: 94vw !important;
    /* margin-top: 60px; */

  }
  .post-box {
    width: 91vw;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .posting-title {
    margin-left: 30px !important;
  }
  .nav-logo svg {
    margin: 3px;
  }
  /* .search-icon-res{
        border: 1px solid #6b6464;
        border-radius: 7px;
    } */
  .search-bar-res {
    width: 100vw !important;
    height: calc(90vh - 60px) !important;
/*     margin-top: 60px; */
    /* height: 92vh !important; */
  }
  .search-div {
    width: 77vw;
    justify-content: center;
  }
  .hrmargin {
    width: 87vw !important;
    height: 95vh !important;
  }
  .search-result small {
    display: none;
  }
  .name-res {
    flex: 0 !important;
  }
  .search-result {
    width: 304px !important;
    border-top: 1px solid white !important;
  }
  .visit-profile-btn {
    flex: 0 !important;
  }
  .follower-search-res {
    display: none;
  }
  .search-component {
    display: flex;
    justify-content: center;
  }
  #scrollable-content-search {
    overflow-y: scroll !important;
    height: 64% !important;
  }
  .search-main-res {
    height: 88vh !important;
    height: calc(90vh - 60px) !important;
     
  }

  .notification-mobile {
    height: 86vh !important;
    height: calc(90vh - 60px) !important;
/*     margin-top: 60px; */
  }
  .notification-inner-mobile {
    width: 97% !important;
    border-radius: 10px;
    height: calc(90vh - 60px) !important;
    
  }
  .profile-mobile {
    height: calc(90vh - 60px) !important;
    margin-top: 60px;
    width: 100vw !important;
  }
  .inbox-list {
    width: 95vw !important;
  }
  .remove-padding {
    padding: 0 !important;
  }
  .heading-center {
    text-align: center;
  }
  .mobile-width {
    width: 100vw !important;
    height: 100vh !important;
}
  .mobile-text-sender {
    margin: 7px auto 5px 30% !important;
  }
  .mobile-text-receiver {
    margin: 7px 20% 5px auto !important;
    padding: 18px 15px !important;
  }
  .heart-back {
    background: #303031;
    border-radius: 9px;
  }
  .password-signup {
    position: absolute;
    right: 194px;
    /* top: 104px; */
    cursor: pointer;
    bottom: 80px;
  }
  .btn-res {
    margin-left: 295px !important;
  }
  .profile-mob {
    height: calc(90vh - 60px) !important;
    margin-top: 60px;
  }
  .chat-res{
    height: 90vh !important;
  }
 .top-nav-mobile{
  width: 100vw !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

 .ul-inbox{
  height: calc(90vh - 60px) !important;
    margin-top: 60px;
    margin-bottom: 0;
 }
 .mobile-inbox{
  height: calc(90vh - 60px) !important;
    
 }
 .inbox-main-mob{

  height: unset !important;
  width: unset !important;
 }
 #chatContainer{

  height: 75% !important;
 }
  .Unfollow-btn-profile{

  width:44vw !important;
}
  .Follow-btn-mention{

  width:44vw !important;
}
}
